@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.navbar {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  padding: 12px;
  background-color: #ffffff !important;
  color: #222;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-weight: 900;
  padding: 0.5rem 0.75rem;
}

.dropdown {
  margin: 0;
  padding: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #000 !important;
  color: white !important;
}

i {
  color: grey;
  font-weight: 900;
  transition: color 0.2s ease;
}

i:hover {
  color: rgb(172, 170, 170);
}
